{% extends 'layout.html' %}
{% block active %}home{% endblock %}
{% block body %}
{% load static %}

<h1>Real Life Heros</h1>
<div class="container text-center">
  <table class="table table-dark table-striped">
    <thead>
      <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Birth Year</th>
          <th scope="col">Death Year</th>
      </tr>
      </thead>
      {% for hero in object_list %}
      <tr>
          <th scope="row">{{ hero.id }}</th>
          <td><a href="/details/{{ hero.id }}">{{ hero.name }}</a></td>
          <td>{{ hero.description }}</td>
          <td>{{ hero.birthyear }}</td>
          <td>{{ hero.deathyear }}</td>
      </tr>
      {% endfor %}
  </table>
</div>

{% endblock %}
